*.iml
.gradle
/local.properties
.DS_Store
/build
/captures

/.idea/*
!/.idea/encodings.xml
.gradletasknamecache
/jodel/*
!/jodel/hookfinder.settings.js

# fastlane specific
fastlane/report.xml

# deliver temporary files
fastlane/Preview.html

# snapshot generated screenshots
fastlane/screenshots

# scan temporary files
fastlane/test_output